.todo-list {
  width: 100%;
  max-width: 720px;
  @media (min-width: 767.98px) {
    margin-top: 144px;
  }
}

.title-container {
  font-family: 'LatoWebBlack', serif;
  letter-spacing: 0.25em;
  font-weight: 700;
  color: var(--bs-gray-800);
}

.date {
  font-family: 'LatoWebBlack', serif;
  color: var(--bs-gray-800);
}

.input-field-container {
  height: 84px;
  padding-inline: 32px;

  .inline-input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;

    &::placeholder {
      color: var(--bs-gray-400);
    }
  }

  .cross {
    width: 24px;
    height: 24px;
    transform: rotate(45deg);

    &:hover {
      cursor: pointer;
      filter: contrast(0.5);
    }
  }
}
