<div class="global w-100 h-100 d-flex justify-content-center p-3">
  <div class="todo-list">
    <div class="title-container display-5">TODO</div>
    <div class="date d-flex justify-content-between mt-4">
      <div>13 НОЯБРЯ 2021</div>
      <div>СУББОТА</div>
    </div>
    <div class="input-field-container bgc mt-2 d-flex justify-content-between align-items-center">
      <input type="text" class="inline-input" placeholder="Создать новую задачу..." />
      <img class="cross" src="assets/icons/cross-gray-400.svg" alt="cross-add" />
    </div>
  </div>
</div>
