<div class="global w-100 h-100 d-flex justify-content-center p-3">
  <div class="todo-list">
    <div class="title-container display-5">TODO</div>

    <div class="date-container d-flex justify-content-between mt-4">
      <div>13 НОЯБРЯ 2021</div>
      <div>СУББОТА</div>
    </div>

    <div class="todo-container bgc mt-2">
      <input type="text" class="inline-input" placeholder="Создать новую задачу..." />
      <img class="cross rotate" src="assets/icons/cross-gray-400.svg" alt="cross-add" />
    </div>

    <div class="todo-list-container bgc">
      <div class="todo-container list">
        <input type="checkbox" class="custom-checkbox" id="custom-checkbox" />
        <label for="custom-checkbox"></label>
        <input type="text" class="inline-input" value="Купить дом" />
        <img class="cross" src="assets/icons/cross-gray-400.svg" alt="cross-add" />
      </div>
      <div class="todo-container filter justify-content-between">
        <div class="filter-container">
          <span class="active">Все</span>
          <span>Активные</span>
          <span>Завершенные</span>
        </div>
        <div>
          <span>Очистить завершенные</span>
        </div>
      </div>
    </div>
  </div>
</div>
